body {
  font-family: "Manuale", serif;
}

.img_page {
  width: 100%;
}

.content_page {
  width: 60%;
  padding-bottom: 1.8rem;
}

.chapp_text {
  /* font-style:  */
  line-height: 1.6;
  color: #7AC7FB;
  font-weight: 600;
  font-size: 2rem;
  text-align: center !important;
}

.text_page {
  
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nd2 {
  overflow: hidden;
}

.animated {
  display: block;
  opacity: 0;
  transform: translateY(-50%);
}

.animated.active {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.5s;
}

.page-footer {
  width: 100%;
  min-height: 8.12rem;
  background-color: #3a3a3c;
  margin: auto !important;
  position: relative;
  border-top: 0.253rem #13a89e solid;
}

.page-footer .authors {
  width: 50%;
  position: absolute;
  font-size: 1.15rem;
  font-weight: 400;
  color: #ccc;
  bottom: 0.625rem;
  left: 2.5rem;
}

.page-footer .footer-logo img {
  position: absolute;
  max-width: 20%;
  float: right;
  bottom: 0.625rem;
  right: 2.5rem;
  max-height: 3.125rem;
}

.page-footer .authors a {
  text-decoration: none;
  color: #13a89e;
}

#special-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 2.5rem;
  background-color: #ffffff;
  margin-bottom: 1.25rem;
  position: fixed;
  top: 0;
  z-index: 999;
  padding-bottom: 0.625rem;
  border-bottom: 0.25rem #13a89e solid;

  font-size: 1rem;
}

#special-banner .back-button {
  font-size: 1rem;
  background-color: #ffffff;
  color: #fff;
  padding-left: 1rem;
  /* margin-right: 0.625rem; */
  /* padding: 0.625rem 0.625rem 0.625rem 1.25rem; */
}

#special-banner .header-image img {
  padding-right: 1rem;
  padding-left: 7rem;
  height: 40px;
}

#special-banner .header-logo img {
  height: 50  px;
  padding-top: 0.7rem;
}


a:hover {
  text-decoration: none;
  color: #13a89e;
}

#special-banner .e-magazine {
  font-size: 1rem;
  /* width: 40%; */
  padding-top: 0.625rem;
  /* margin-left: 35%; */
  margin-top: 0.3125rem;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 3.75rem;
  right: 1.25rem;
  z-index: 999;
  display: none;
}

.text-center {
  text-align: center !important;
}

.footer-content .link-logo {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer {
  border-top: 5px solid #e8e8e8;
  padding-bottom: 30px;
  background-color: #f4f4f4;
  text-align: center;
  font-size: .72rem;
  
  margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    line-height: 1.43;
}
.footer-content .bl.tbt {
  margin-bottom: 20px;
}
.footer-content .bl {
  margin-bottom: 30px;
}
.footer-content .dev {
  font-size: .9em;
  margin-top: 10px;
  color: rgba(0,0,0,.5);
  margin-bottom: 30px;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 14px;
  }
  .content_page {
    width: 55%;
    padding-bottom: 1.8rem;
  }
  #special-banner .header-logo img {
    height: 50px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 13px;
  }
  .content_page {
    width: 80%;
    padding-bottom: 1.8rem;
  }
  #special-banner .header-logo img {
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .content_page {
    width: 80%;
    padding-bottom: 1.8rem;
  }
  #special-banner .header-image img {
    padding-right: 1rem;
    padding-left: 7rem;
    height: 30px;
  }
  #special-banner .header-logo img {
    height: 40px;
  }
  .chapp_text {
    /* font-style:  */
    line-height: 1.6;
    color: #7AC7FB;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center !important;
  }
  .back-to-top {
    width:40px; 
    height:40px;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 999;
    display: none;
}
}